[Unit]
Description=HICS Web Dashboard (Flask)
After=multi-user.target

[Service]
Type=simple
User=pawan
WorkingDirectory=/home/pawan
ExecStart=/usr/bin/python3 /home/pawan/web_dash.py
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
